@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amita', cursive;
}

hp-content {
    display: flex;
    background-color: #13183E;
    width: 100vw;
    height: 100vh;
    color: #DFEFF6;
    /* color:#7F7F9D; */
    /* color:#5E6FC0; */
    /* color:#5850B3; */

    justify-content: center;
    align-items: center;



}

hp-presentation {
    display: block;
    background-color: #5E6FC0;

    height: 80vmin;
    width: 80vmin;
    /* box-shadow: 10px 4px 4px 10px; */

}
hp-presentation>hp-slider{
    display: none;
}
hp-presentation>hp-slider.active{
    display: inline-block;
}

hp-slider {
    display: inline-block;
    /* background-color: #7F7F9D; */

    width: 80%;
    height: 80%;

    margin: 10%;
    border-radius: 4%;
    text-align: center;
    padding: 4%;
    /* border: 2px solid #7f7f9D; */
    border: 3px solid #13183E;

    font-size: 7vmin;
    font-weight: bold;
}
hp-shapes {

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
hp-shapes *{
    max-width: 20%;
    margin: 5% 2.5%;
}
